$colorPricipal: rgb(252, 142, 0);
$bgdone: rgb(228, 249, 255);
$bgdtwo: rgb(201, 236, 245);


body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
   
}


#header{
  nav{
    height: 80px;
    width: 100%;
    background-color: white;

}

label img{
    width: 60px;
    height: 60px;
    margin: 10px 50px;
    line-height: 80px;

}

nav ul{
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 40px;
}

nav li{
display: inline-block;
list-style: none;
margin: 0 6px;
line-height: 80px;
}

nav a{
  text-decoration: none;
  color: $colorPricipal;
  font-size: 18px;
  border: 1px solid transparent;
  padding: 7px 8px;
  border-radius: 5px;
}

a:active, a:hover{
  border: 2px solid gray;
  transition: .9s;
}

nav .openMenu, .closeMenu{
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 45px;
  cursor: pointer;
  display: none;
}

nav .closeMenu{
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 45px;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 769px){

  nav .openMenu{
  display: block;
}

label img{
    margin-left: 20px;

}
  nav ul{
    display: fixed;
    width: 100%;
    margin-right: 0;
    height: 100vh;
    background-color: rgba($color: $colorPricipal, $alpha: 0.04);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .7s;
    display: none;
  }
  nav li{
    display: block;
    margin: 25px 0;
    line-height: 30px;
  }
  nav a{
    font-size: 20px;
  }

  nav ul .show, .close{
    left: 0;
  }

  .label-reseau.show{
    display: none;
  }


}
// Fin partie nav dans la section header


    .label{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 520px;
      background: url("images/2.jpg");
      background-size: cover;


        .label-card{
          height: 250px;
          width: 500px;
          margin-top: 150px;
          margin-left: 10px;
          padding-left: 15px;
          background: rgba($color: #ffffff, $alpha: 0.4);


            h1{
              color: $colorPricipal;
              font-weight: 500;
            }

            P{
              margin-top: -20px;
            }
        }


        .label-reseau{
          margin-right: 20px;
          li, a{
            list-style: none;
            text-decoration: none;
            margin-bottom: 35px;
            font-size: 25px;
            width: 50px;
            color: black;
            border: inherit;
          }
          li, a:hover{ color: $colorPricipal;}
        }
    }

    @media only screen and (max-width: 700px){
      .label{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: url("images/2.jpg");
        height: 200px;
        width: 100%;
        background-size: cover;
      }
  
  
    }
    
  }

  

  #section-separator{
    width: auto;
    height: 200px;
    border-left: 8px solid $colorPricipal;
    margin-left: 40px;


      h1{
        position: relative;
        top: 50px;
        font-size: 50px;
      }

      h3{
        position: relative;
        top: -20px;
        font-size: 30px;
      }
  }


  @media only screen and (max-width: 900px){
    #section-separator{
      height: 120px;
      border-left: 5px solid $colorPricipal;
      margin-left: 40px;
      margin-bottom: 20px;
      padding-bottom: 70px;
  
  
        h1{font-size: 40px;  }
  
        h3{font-size: 25px; }
    }
}

@media only screen and (max-width: 700px){
  .label-card{display: none;}
  .label-reseau{
    height: 70px;
    border-left:none;
    margin-left: 0px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    display: none;


      h1{font-size: 25px;  }

      h3{
        font-size: 20px;
        margin-top: 35px;
       }
  }
  #section-separator{
    height: 100px;
    border-left: none;
    border-width: 50%;
    margin-left: 20px;
    margin-bottom: 15px;
    // padding-bottom: 20px;


      h1{font-size: 25px;  }

      h3{
        font-size: 20px;
        margin-top: 35px;  
      }
  }

}




  #one-section-event{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    height: 600px;
    flex-wrap: wrap;
    background-color: $bgdone;

          .garderie{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
           
                img{
                  width: 470px;
                  height: 330px;
                }

                .item-kin{
                  width: 470px;
                  height: 330px;
                  margin-left: 25px;

                    span a{
                      color: white;
                      background-color: $colorPricipal;
                      font-size: 18px;
                      padding: 5px;
                      text-decoration: none;
                    }
                }
          }
  }

  @media only screen and (max-width: 700px){

    #one-section-event{
      display: flex;
      justify-content: space-around;
      align-items:center ;
      height: auto;
      background-color: none;
    }
    .garderie{
      display: flex;
      justify-content: space-around;
      align-items: center;

      .item-kin{
        width: 470px;
        height: 330px;
        margin-left: 25px;
        padding-left: 100px;
      }

      img{
        width: 120px;
        height: 200px;
      }
    
    }
  }






  #two-section-event{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

      div{
        height: 500px;
        width: 374px;
        color: white;
        padding-right: 35px;
        padding-left: 35px;
      }

      .text-event{
        position: relative;
        top: 100px;
      }

      .event-one{
        background: url("images/2.jpg");
        background-size: cover;
       
      }

      .event-two{
        background-color: $colorPricipal;
      }

      .event-three{
        background: url("images/1.jpg");
        background-size: cover;
       
      }

  }

 

  #programs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

      .first-program, .second-program, .thirth-program{
        height: 500px;
        width: 380px;
        border: 1px solid $colorPricipal;
        box-shadow: 0.3px 2px 6px 0.3px green;
        text-align: center;
        margin-bottom: 10px;
          h1{
            color: $colorPricipal; 
          }

          a{
            text-decoration: none;
            padding: 10px;
            font-size: 20px;
            background-color: $colorPricipal;
            color: white;
          }
      }

      img{
        width: 380px;
        height: 300px ;
      }

  }

  #contact{
    background-color: $bgdone;
    padding-top: 170px;
    padding-bottom: 170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;

      .first,  .second{
        width: 500px;
      }

      .first{
        display: flex;
        justify-content: space-around;
        align-items: center;

          .label-text{
            margin-left: 40px;
          }

          .label-reseau{
            li, a{
              list-style: none;
              text-decoration: none;
              margin-bottom: 35px;
              font-size: 25px;
              color: black;
            }

            li, a:hover{ color: $colorPricipal;}
          }
      }

      .second{
          input{
            width: 85%;
            height: 35px;
            margin-bottom: 15px;
            padding-left: 10px;
            font-size: 15px;
            border: none;
            background-color: rgba($color: #000000, $alpha: 0.1);
          }

          input:active{
            border:2px solid $colorPricipal;
          }

          textarea{
            width: 85%;
            height: 120px;
            padding-left: 10px;
            font-size: 15px;
            border: none;
            background-color: rgba($color: #000000, $alpha: 0.1);
          }

          button{
            height: 35px;
            width: 100px;
            font-size: 16px;
            background-color: $colorPricipal;
            color: white;
            border: none;
            cursor: pointer;
            margin-top: 10px;
          }
      }
  }

@media only screen and (max-width: 900px){
  #contact{
      .first{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: auto;

          .label-text{
          margin-left: 0px;
        }


          .label-reseau{
            li, a{
              display: inline;
              margin-left: 17px;
   
            }
          }
      }
    }

    .second{
      margin-left: 45px;
    }
}



#container-apropos{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 70px;

    
      .el img{
        width: 100%;
        height: 100%;
      }

      .el:nth-child(1) {
        width: 30%;
        // padding-left: 80px;
      }

      .el:nth-child(2){
        width:500px;
      }
  }
  
  @media only screen and (max-width: 700px){
    #container-apropos{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    #container-apropos .el img{
     display: none;
    }

    .el:nth-child(2){
      width: 100%;
    }
  }


  #bar-foother{
    height: auto;
    background-color: $bgdtwo;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 14px;
    color: gray;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px;

      .bar-separator{
        border: 1px solid gray;
        height: 50px;
      }
  }

  @media only screen and (max-width: 900px){
    #bar-foother .bar-separator{
      border: none;
      height: auto;
    }
  }